.App {
  display: flex;
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center; /* Centra los elementos verticalmente */
  align-items: center; /* Centra los elementos horizontalmente */
  height: 100vh; /* Asegura que ocupe toda la altura de la pantalla */
  width: 100%; /* Asegura que ocupe todo el ancho de la pantalla */
  text-align: center; /* Centra el texto */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Si necesitas algún estilo para los componentes, añádelos aquí */
.Ejercicio {
  margin: 10px; /* Espacio entre los componentes */
}